*
!TE.py
!TE_DP_CONFIG.py
!CONNECTOR.py
!TE_CLASS.py
!TE_UTILS.py
!TE_WORK.py
!GET_AND_RUN_DOCKER_IMAGE.py
!te_json_schema.py
!tedp_docker.tar
!te_docker/requirements.txt
!te_docker/setup_postgres.sh
!te_docker/te.conf
!TE_METRICS.py
!te_docker/postgres_grafana_config.yaml
!te_docker/udp_client_metrics_dashboard.json
!te_docker/grafana_dashboard_config.yaml
!te_docker/tcp_client_metrics_dashboard.json
!te_swagger.json
